{%  extends 'sklt_sns/main.html' %}
{% block content %}

<div class="my-3 p-3 bg-white rounded shadow-sm">
<div class="media">
 <img src="..." class="mr-3" alt="...">
  <div class="media-body">
    <div class="post">
      <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <div class="media mt-3">
      <a class="mr-3" href="#">
        <img src="..." class="mr-3" alt="...">
      </a>
      <div class="media-body">

        {% for comment in post.comments.all %}
           <div class="comment">
             <div class="date">{{ comment.created_date }}</div>
               <strong>{{ comment.author }}</strong>
               <p>{{ comment.text|linebreaks }}</p>
             </div>
            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>


{% load static %}

<script src="static/js/jQuery.js"></script>
<script scr="static/js/post_detail.js"></script>

{% if ine_flag %}
 <div id="Ine" class="on mt-5" data-href="{% url 'ine' pk=post.pk %}">
{% else %}
 <div id="Ine" class="mt-5" data-href="{% url 'ine' pk=post.pk %}">
{% endif %}
    <span>この記事をいいね！と思った方はぜひ押していってください！</span><br>
    <i class="fa fa-thumbs-up"></i> 
    <span class="ine-count">({{ ine_count }})</span>
    <span class="ine-msg"></span>
</div>



{% endblock %}